@import "../../assets/usellAssets/styles/variables.scss";

.mainContainer{
    width:'100%';

    .makeStyles-appBar-1{
        background-color: $primary;
    }

    
}

.widthElement {
    width:200px;
}

.widthElementCenter{
    width:200px;
    padding:0px ;
  }